<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add word</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/words/add}"
          th:object="${wordAddDto}">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="term" class="h4 mb-2">Term</label>
            </div>
            <textarea th:field="*{term}"
                      th:errorclass="is-invalid"
                      type="text" class="form-control" id="term" name="term"></textarea>
            <small th:if="${#fields.hasErrors('term')}" th:errors="*{term}"
                    class="invalid-feedback text-danger">Term error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="translation" class="h4 mb-2">Translation</label>
            </div>
            <textarea th:field="*{translation}"
                      th:errorclass="is-invalid"
                      type="text" class="form-control" id="translation" name="translation"></textarea>
            <small th:if="${#fields.hasErrors('translation')}" th:errors="*{translation}"
                    class="invalid-feedback text-danger">Translation error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="example" class="h4 mb-2">Example</label>
            </div>
            <textarea th:field="*{example}"
                      th:errorclass="is-invalid"
                      type="text" class="form-control" id="example" name="example"></textarea>
            <small th:if="${#fields.hasErrors('example')}" th:errors="*{example}"
                    class="invalid-feedback text-danger">Example error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="inputDate" class="h4 mb-2">Set input date</label>
            </div>
            <input th:field="*{inputDate}"
                   th:errorclass="is-invalid"
                   type="date" class="form-control" id="inputDate" name="inputDate"/>
            <small th:if="${#fields.hasErrors('inputDate')}" th:errors="*{inputDate}"
                    class="invalid-feedback text-danger">Input Date error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="language" class="h4 mb-2">Language</label>
            </div>
            <select th:field="*{language}"
                    th:errorclass="is-invalid"
                    class="browser-default custom-select" id="language" name="language">
                <option value="">Select language</option>
                <option th:each="l : ${T(com.example.exam2023.model.enums.LanguageNameEnum).values()}"
                        th:value="${l}"
                        th:text="${l}">German</option>
            </select>

            <small th:if="${#fields.hasErrors('language')}" th:errors="*{language}"
                    class="invalid-feedback text-danger">Language error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add word</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
