<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container-fluid bg-blur rounded mt-1 mb-4 d-flex justify-content-center" id="big-div">

        <div class="col-5">
            <h3 class=" bg-gray text-dark  mb-0 mt-2">Assigned to me</h3>
            <h6 class=" bg-gray text-dark  mb-0 mt-0"
                th:text="|Username: ${@currentUser.username}|"></h6>
            <div class="bg-dark rounded m-auto" style="height: 67vh; overflow: auto">
                <th:block th:each="task : ${assignedToMe}">
                <ul class="list-group list-group-horizontal text-dark">
                    <li
                            class="list-group-item bg-warning">
                        <table>
                            <tr>
                                <td scope="row" style="width: 5%"><img class="mr-2 " src="/img/pin.png" alt="Pin" width="35px" height="35px"></td>
                                <td th:text="${task.priority}"
                                        style="width: 15%">{priority}</td>
                                <td th:text="${task.dueDate}"
                                        style="width: 40%">{dueDate}</td>
                                <td><a th:href="@{/tasks/done-remove/{id}(id=${task.id})}">
                                    <img src="/img/done-remove-button.png" height="35px"></a></td>
                                <td><a th:href="@{/tasks/return-task/{id}(id=${task.id})}">
                                    <img src="/img/return.png" height="35px"></a></td>
                            </tr>
                        </table>
                    </li>
                    <li class="list-group-item list-group-item-warning text-dark">
                        <a th:text="${task.description}">{description}</a>
                    </li>
                </ul>
                </th:block>
            </div>
        </div>

        <div class="col-5">
            <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">All Available Tasks</h3>
            <h6 th:text="${allTasks.size()} + ' Tasks'"
                    class="mySticky bg-gray text-dark  mb-0 mt-0"></h6>
            <div class="bg-dark rounded m-auto" style="height: 67vh; overflow: auto">
                <th:block th:each="task : ${allTasks}">
                    <ul class="list-group list-group-horizontal text-dark">
                        <li class="list-group-item bg-warning">
                            <table>
                                <tr>
                                    <td style="width: 5%"><img class="mr-2 " src="/img/pin.png" alt="Pin" width="35px" height="35px"></td>
                                    <td style="width: 15%"><a th:text="${task.priority}">{priority}</a></td>
                                    <td><a th:text="|Due Date: ${task.dueDate}|">Due Date: {dueDate}</a></td>
                                    <td><a class="ml-3" th:href="@{/tasks/assign-task/{id}(id=${task.id})}">
                                        <img src="/img/assign-to-me-button.png" height="35px"></a></td>
                                </tr>
                            </table>
                        </li>
                        <li class="list-group-item list-group-item-warning text-dark">
                            <a th:text="${task.description}">{description}</a>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
